.filtered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  height: 50vh;
  width: 40vw;
  border: 5px solid black;
  border-radius: 1em;
  background-color: #ef476f;
  margin-bottom: 2em;
}

.back-home {
  background-color: #06d6a0;
  font-family: 'Anybody', cursive;
  border: 4px solid black;
  border-radius: 1em;
  height: 5vh;
  width: 15vw;
}

.back-home:hover {
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .filtered-container {
    width: 90vw;
    margin-top: 0;
  }

  .back-home {
    width: 90vw;
  }
}

@media screen and (max-width: 380px) {
  .filtered-container {
    height: 90vh;
  }

  .back-home {
    width: 90vw;
  }
}

@media screen and (max-width: 300px) {
  .about-windows {
    height: 140vh;
  }

  .back-home {
    width: 90vw;
  }
}
