.owen-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  width: 50vw;
  background-color: #ef476f;
  font-size: 0;
}

.owen-graphic {
  width: 100%;
}

.owen-graphic:hover {
  cursor: pointer;
}
